[submodule "arquitectura-backend"]
	path = arquitectura-backend
	url = https://github.com/LuisXVI-Flash/arquitectura-backend.git
[submodule "arquitectura-docker"]
	path = arquitectura-docker
	url = https://github.com/LuisXVI-Flash/arquitectura-docker.git
[submodule "arquitectura-frontend"]
	path = arquitectura-frontend
	url = https://github.com/LuisXVI-Flash/arquitectura-frontend.git
